<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>


    <!-- Insert Body here -->

    



        <div class="starter-template">

            <%- body %>

        </div>

    






    <footer>
        <% include partials/footer.ejs %>
    </footer>

</body>

</html>