<% layout('layout') -%>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="/">Home</a>
                
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        
                        <li class="nav-item active">
                            <a class="nav-link" >Area Privata</a>
                        </li>
                        
                    </ul>
            
            
                    <div class="form-inline mt-2 mt-md-0">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item ">
                                <div id="btnLogout" class="nav-link" ><a class="nav-link" href="/">Log-out</a></div>
                            </li>
                            
                        </ul>
                    </div>
            
                    
            
                </div>
            </nav>


<!-- Insert Body here -->
<main role="main" class="container">

    <div class="starter-template">
        <br>
            <h1>Benvenuti, prenotatevi ora per un esperienza magnifica</h1>
            <p class="lead">DESCIRZIONE <br> All you get is this text and a mostly barebones HTML document.</p>
            
            
            <h1>Bootstrap starter template</h1>
            <p class="lead">DESCIRZIONE.<br> All you get is this text and a mostly barebones HTML document.</p>
            
            
            
        
    </div>

    <div class="table-responsive">
            <table id="table-cluster" class="table table-striped">
                    <thead>
                        <th>#</th>
                        <th>User</th>
                        <th>Department</th>
                    </thead>
                    <tbody>
                        <tr><td>001</td><td>dodo pippo</td><td>IT</td></tr>
                        <tr><td>002</td><td>eduardo romero</td><td>HD</td></tr>
                    </tbody>
            </table>
        </div>

</main><!-- /.container -->



    
    <!--script-->
    
    <script src="/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="/lib/boostrap/js/bootstrap.min.js"></script>
    <script src="/js/logout.js"></script>